networks:
  app_network:
    driver: bridge

services:
  redis:
    image: redis:7
    ports:
      - "6379:6379"
    networks:
      - app_network

  backend:
    build:
      context: ./backend
    image: backend:latest
    env_file:
      - ./backend/.docker.env
    volumes:
      # Only persist the SQLite database for dev
      - ./backend/data:/app/data
    ports:
      - "8000:8000"
    depends_on:
      - redis
    networks:
      - app_network
    command: web

  worker:
    image: backend:latest
    env_file:
      - ./backend/.docker.env
    volumes:
      - ./backend/data:/app/data
    depends_on:
      - redis
      - backend
    networks:
      - app_network
    command: worker

  scheduler:
    image: backend:latest
    env_file:
      - ./backend/.docker.env
    volumes:
      - ./backend/data:/app/data
    depends_on:
      - redis
      - backend
    networks:
      - app_network
    command: beat

  frontend:
    build:
      context: ./frontend
    container_name: frontend
    depends_on:
      - backend
    environment:
      - REACT_APP_API_HOST=http://backend:8000
    networks:
      - app_network

  nginx:
    image: nginx:1.27
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/conf.d/default.conf:ro  
      - ./frontend/build:/usr/share/nginx/html:ro
    depends_on:
      - backend
      - frontend
    networks:
      - app_network
